* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d222b;
  color: #fff;
  font-family: "Kanit", sans-serif;
}

.align_center {
  display: flex;
  align-items: center;
}
